.all-details-compiler {
  scale: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px inset;
  border-color: rgb(36, 105, 36);
  min-width: 300px;
  max-width: 1200px;
  min-height: 675px;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;
  background: url("../polygon_green.jpg");
  padding: 10px;
}
.run-button {
  scale: 1.5;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  /* border-top:/px solid; */
  margin-left: 15px;
  cursor: pointer;
  background-color: rgb(36, 105, 36);
  color: white;

  margin-right: 15px;
}
.problem-details{
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  margin-bottom: 120px;
  /* margin-right: 50px; */
  min-height: 100px;
  overflow-y: scroll;
  resize: none;
  border: 2px solid;
  margin-left: 270px;
  max-width: 100px;
  min-width: 500px;
}

.title-2 {
  scale: 2;
  margin-top: 30px;
  display: flex;
  align-self: center;
  font-family: monospace;
  flex-direction: row;
  margin-left: 243px;
  margin-bottom: 20px;
}
.ci-boxes {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  min-height: 400px;
}
.code-box {
  margin-right: 50px;
  flex: 1;
  resize: none;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid;
  border-radius: 2px;
  border-color: rgb(36, 105, 36);
  background-color: rgb(205, 234, 208);
  overflow-y: scroll;
  /* color: rgb(36, 105, 36); */
}
.input-box-compiler {
  margin-left: 50px;
  flex: 1;
  resize: none;
  font-size: 17px;
  background-color: rgb(205, 234, 208);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 2px solid;
  border-color: rgb(36, 105, 36);
  /* color: rgb(36, 105, 36); */
  border-radius: 2px;
}
.output-text {
  resize: none;
  font-weight: bold;
  border: 2px solid;
  overflow-y: scroll;
  min-width: 400px;
  min-height: 150px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 17px;
  border-radius: 2px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(205, 234, 208);
  border-color: rgb(36, 105, 36);
}
.verdict-stuff button{
  float: right;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  scale: 1.2;
  border-radius: 3px;
  margin-right: 305px;

}
.verdict-stuff p{
  margin-top: 70px;
  font-size: 40px; 
  margin-right: 500px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
